.main-content {
  flex: 1;
  width: 100%;
  background: var(--bg-page);
}

.main-content.landing {
  background: var(--white);
}

html,
body,
#root {
  display: flex;
  flex-direction: column;
  height: 100%;
}
